<!DOCTYPE html>

{% macro fig_wrap() -%}
<span  class="figure-wrapper"> 
	
	<span class="triangle-wrapper">
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
	</span>	
	
	<span class="pentagon-wrapper pentagon-adjustment-0">
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
	</span>	

	<span class="pentagon-wrapper1">
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
	</span>	

	<span class="pentagon-wrapper2">
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
	</span>	
	
	<span class="trapezoid-wrapper">
		<span><span></span><span></span></span>	
		<span><span></span><span></span></span>	
		<span><span></span><span></span></span>	
		<span><span></span><span></span></span>	
		<span><span></span><span></span></span>	
		<span><span></span><span></span></span>	
		<span><span></span><span></span></span>	
		<span><span></span><span></span></span>	
	</span>

	<span class="triangle-wrapper1">
		<span><span></span></span>
		<span><span></span></span>
		<span><span></span></span>
		<span><span></span></span>
		<span><span></span></span>
		<span><span></span></span>
		<span><span></span></span>
	</span>	

	<span class="triangle-fill-3-wrapper">
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
	</span>
		
	<!-- regardless of the number in the class this 
	has to be later, so it will be visible over 3 -->
	<span class="triangle-fill-2-wrapper">
		<span><span></span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
		<span><span></span></span>	
	</span>

	<span class="triangle2-wrapper triangle2-adjustment-1">
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
	</span>	

	<span class="triangle2-wrapper triangle2-adjustment-2">
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
		<span><span></span><span></span></span>
	</span>	
	
	<span class="pentagon-wrapper pentagon-mini-adjustment-1 pentagon-mini-placement-1">
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
	</span>	
	
	<span class="pentagon-wrapper pentagon-mini-adjustment-1 pentagon-mini-placement-3">
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
	</span>	
	
	<span class="pentagon-wrapper pentagon-mini-adjustment-1 pentagon-mini-placement-4">
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
	</span>	

	<span class="pentagon-wrapper pentagon-mini-adjustment-1 pentagon-mini-placement-5">
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
	</span>	

	<span class="pentagon-wrapper pentagon-mini-adjustment-1 pentagon-mini-placement-6">
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
		<span><div></div><div></div><div></div><div></div></span>
	</span>	

</span>
{%- endmacro %}
